
.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}

@media (min-width: 500px) {
    .MobileOnly {
        display: none;
    }
}